{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="" method="post" class="mt-3" >
                    {% csrf_token %}
                    {{form.as_p}}

                      <div class="mt-3">
                        <input type="submit" value="Chop etish" class="btn btn-success">
                        <input type="reset" value="Tozalash" class="btn btn-danger">
                        <a href="{% url 'home-page' %}" class="btn btn-primary">Bosh sahifaga</a>
                      </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}



<!-- 
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Yangilik nomi</label>
  <input type="text" class="form-control" name="nomi" id="exampleFormControlTextarea1" placeholder="Yangilik nomi">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Yangilik mazmuni</label>
  <textarea class="form-control" name="mazmuni" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="mb-3">
  <label for="formFile" class="form-label">Yangilik rasmi</label>
  <input class="form-control" type="file" name="rasm" id="formFile">
</div>
<select class="form-select" aria-label="Default select example" name="kategoriya">
  <option selected>Kategoriya tanglang</option>
  {% for kategoriya in kategoriyalar %}
  <option value="{{kategoriya.id}}">{{kategoriya.titele}}</option>
  {% endfor %}
</select> -->